@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script type="text/javascript">

            function drawAutoresPorLivroChart() {
                var chartData = @Html.Raw(Json.Serialize(Model.AutoresPorLivroList))

                Morris.Line({
                    element: 'chart-AutoresPorLivro',
                    data: chartData,
                    xkey: 'livro',
                    ykeys: ['quantidade'],
                    labels: ['Total de Autores'],
                    parseTime: false,
                    hideHover: "auto",
                    xLabelAngle: 60,
                    lineColors: ['#2ECC71', '#0B62A4']
                });
            };

            function drawEventoChart() {
                var chartData = @Html.Raw(Json.Serialize(Model.EventoDTOList))

                        Morris.Bar({
                            element: 'chart-EventoDTO',
                            data: chartData,
                            xkey: 'evento',
                            ykeys: ['data'],
                            labels: ['Evento'],
                            hideHover: 'auto',
                            xLabelAngle: 0,
                            barColors: function (row, series, type) {

                                var colors = [
                                    '#2ECC71',
                                    '#3498DB',
                                    '#9B59B6',
                                    '#F1C40F',
                                    '#E67E22',
                                    '#E74C3C',
                                    '#1ABC9C'
                                ];

                                return colors[row.x % colors.length];
                            }
                        });
            };

            function drawEscolaChart() {
                var chartData = @Html.Raw(Json.Serialize(Model.EscolaDTOList))

                        Morris.Bar({
                            element: 'chart-EscolaDTO',
                            data: chartData,
                            xkey: 'label',
                            ykeys: ['quantidade'],
                            labels: ['Qtd'],
                            hideHover: 'auto',
                            xLabelAngle: 0,
                            barColors: function (row, series, type) {

                                var colors = [
                                    '#2ECC71',
                                    '#3498DB',
                                    '#9B59B6',
                                    '#F1C40F',
                                    '#E67E22'
                                ];

                                return colors[row.x % colors.length];
                            }
                        });
            };

             function drawAtletaGraducaoChart() {
                var chartData = @Html.Raw(Json.Serialize(Model.AtlestaGraduacaoDTOList))
                // var labels = chartData.map(x => x.label);
                // var values = chartData.map(x => x.quantidade);

                // console.log(labels);
                // console.log(values);

                // new Chart(document.getElementById("chart-AtletaGraducaoDTO"), {
                // type: 'horizontalBar',
                // data: {
                //     labels: labels,
                //     datasets: [
                //     {
                //         label: "Quantidade",
                //                         backgroundColor:  [
                //                                             '#F0F8FF', // Branca Gelo
                //                                             '#D3D3D3', // Cinza Claro
                //                                             '#808080', // Cinza
                //                                             '#ADD8E6', // Azul Claro
                //                                             '#4682B4', // Azul Médio (Steel Blue)
                //                                             '#FFF9C4', // Amarela Médio (Claro suave)
                //                                             '#FFFF00', // Amarelo
                //                                             '#FFB74D', // Laranja Médio
                //                                             '#FF8C00', // Laranja (Dark Orange)
                //                                             '#228B22', // Verde
                //                                             '#800080', // Roxa
                //                                             '#A52A2A', // Marrom Claro
                //                                             '#5D4037', // Marrom Escuro
                //                                             '#333333', // Preto Claro
                //                                             '#000000'  // Preto Escuro
                //                                         ],
                //         data: values
                //     }]
                //     },
                //     options: {
                //         legend: { display: false },
                //         title: {
                //             display: true,
                //             text: 'Atletas por Classe'
                //         }
                //     }
                // });

                // 1. Encontrar o valor máximo de 'quantidade' nos dados
                var maxQuantidade = Math.max.apply(Math, chartData.map(function(o) {
                    return o.quantidade;
                }));

                    Morris.Bar({
                        element: 'chart-AtletaGraducaoDTO',
                        data: chartData,
                        xkey: 'label',
                        ykeys: ['quantidade'],
                        labels: ['Qtd'],
                        hideHover: 'auto',
                        xLabelAngle: 0,
                        ymax: maxQuantidade,

                        barColors: function (row, series, type) {
                            var colors = [
                                '#F0F8FF', // Branca Gelo
                                '#D3D3D3', // Cinza Claro
                                '#808080', // Cinza
                                '#ADD8E6', // Azul Claro
                                '#0000FF', // Azul
                                '#FFFACD', // Amarela Claro
                                '#FFFF00', // Amarelo
                                '#FFCC80', // Laranja Claro
                                '#FF8C00', // Laranja
                                '#228B22', // Verde
                                '#800080', // Roxa
                                '#A52A2A', // Marrom Claro
                                '#5D4037', // Marrom Escuro
                                '#333333', // Preto Claro
                                '#000000'  // Preto Escuro
                            ];

                            return colors[row.x % colors.length];
                        }
                    });
            };


        function drawAutoresPorLivroDonutsChart()
        {
            var chartData = @Html.Raw(Json.Serialize(Model.DonutsModeList))

            Morris.Donut({
                element: 'chart-AutoresPorLivroDonuts',
                data: chartData,
                formatter: function (y) { return y }
            });
        };

        function drawSexoDonutsChart()
        {
            var chartData = @Html.Raw(Json.Serialize(Model.SexoDonutsModeList))

            Morris.Donut({
                element: 'chart-SexoDonuts',
                data: chartData,
                formatter: function (y) { return y },
                    colors: [
                                '#3498DB', // azul
                                '#E74C3C'  // vermelho
                            ]
            });
        };

        function drawHorizontalBarChart()
        {
            var chartData = @Html.Raw(Json.Serialize(Model.ClassesDTOList));

            var labels = chartData.map(x => x.label);
            var values = chartData.map(x => x.quantidade);

            new Chart(document.getElementById("bar-chart-horizontal"), {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [
                {
                    label: "Quantidade",
                            backgroundColor: ["#3e95cd","#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3498db","#2ecc71","#f1c40f","#e67e22"],
                    data: values
                }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Atletas por Classe'
                    }
                }
            });
        }

        function drawHorizontalBarAgrupadoChart()
        {
            var chartDataFeminino  = @Html.Raw(Json.Serialize(Model.ClassesFemininaDTOList));
            var chartDataFeminino2  = @Html.Raw(Json.Serialize(Model.ClassesFemininaDTOList));
            var chartDataMasculino = @Html.Raw(Json.Serialize(Model.ClassesMasculinaDTOList));

            var labels  = chartDataFeminino.map(x => x.label);
            var valuesF = chartDataFeminino2.map(x => x.quantidade);
            var valuesM = chartDataMasculino.map(x => x.quantidade);

            new Chart(document.getElementById("bar-chart-grouped"), {
                type: 'bar',
                data: {
                  labels: labels,
                  datasets: [
                    {
                      label: "Feminino",
                      backgroundColor: "#FF0000",
                      data: valuesF
                    }, {
                      label: "Masculino",
                      backgroundColor: "#0000FF",
                      data: valuesM
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: 'Classe por Sexo'
                  }
                }
            });
        }

        $(document).ready(function () {
                    //drawAutoresPorLivroChart();
                    drawEventoChart();
                    //drawAutoresPorLivroDonutsChart();
                    drawSexoDonutsChart();
                    drawAtletaGraducaoChart();
                    drawHorizontalBarChart();
                    drawHorizontalBarAgrupadoChart();
                    drawEscolaChart();
                })
    </script>
}

<div class="text-center">
    <h1 class="display-6">
        “A simplicidade é a chave de toda arte superior, da vida e do judô.” Jigoro Kano
    </h1>
</div>


<div class="row margin-bottom-20">
    <div class="col-md-6">
        <canvas id="bar-chart-horizontal" style="height:250px!important";></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="bar-chart-grouped" style="height:250px!important" ;></canvas>
    </div>    
</div>

<div class="row margin-bottom-20">
    <div class="col-md-6">

        <div class="card-header text-center fw-bold">
            Atleta por Escola
        </div>

        <div id="chart-EscolaDTO" style="height:250px!important;"></div>
    </div>

    <div class="col-md-6">

        <div class="card-header text-center fw-bold">
            Eventos no ano
        </div>

        <div id="chart-EventoDTO" style="height:250px!important;"></div>
    </div>

</div>

<div class="row margin-bottom-20">

    <div class="col-md-6 col-sm-5">
        <div class="card-header text-center fw-bold">
            Atletas por Gênero
        </div>
        <div id="chart-SexoDonuts" style="height:250px!important;"></div>
    </div>
        
    <div class="col-md-6 col-sm-5">
        <div class="card-header text-center fw-bold">
            Atleta por Graduação
        </div>
        <div id="chart-AtletaGraducaoDTO" style="height:250px!important;"></div>
    </div>

@*     <div class="col-md-6">
        <canvas id="" style="height:250px!important" ;></canvas>
    </div> *@

</div>

<div class="row margin-bottom-20" style="margin-top:20px!important;">
    <div class="col-md-12">
        <div class="row servive-block margin-bottom-10">

            

            <div class="col-md-4 col-sm-6">
                <div>
                    <div class=" panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Painel de Notificações
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="icon-envelope"></i> Aniversariantes do Mês
                                    <span class="pull-right text-muted small">
                                        <em>@Model.Notificacoes.AniversariantesDoMes</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="icon-magic"></i> Evento(s) no mês
                                    <span class="pull-right text-muted small">
                                        <em>@Model.EventosMes.QtdEventosMes</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="icon-paperclip"></i> Próximos Evento(s)
                                    <span class="pull-right text-muted small">
                                        <em> Liga Fluminense, 2ª Etapa do Hajime, etc...</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="icon-bar-chart"></i> Solicitação de revisão
                                    <span class="pull-right text-muted small">
                                        <em>há 43 minutos</em>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-20">
     
    

</div>


