@page
@model IFL.WebApp.Areas.Admin.Pages.General.Livros.IndexModel

@{
    ViewData["Title"] = "Livros";
}

<breadcrumb items="Cadastros, Gerais, Livros"></breadcrumb>

<!-- filtro -->
<natural-filter fields="Descrição"
                placeholder="Pesquisar…"
                example="Título:Gestão de Bibliotecas"
                value="@Model.Search">
</natural-filter>

<!-- Dados -->
<table class="table mb-3">
    <thead>
        <tr>
            <action-link-button action="IFL.WebApp.TagHelpers.ButtonActionType.Create">
            </action-link-button>
            <th class="text-center text-nowrap" style="width:1%;">
            </th>
            <th class="text-center text-nowrap" style="width:1%;">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Edicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Valor)
            </th>            
            <th>
                Assunto(s)
            </th>
            <th>
                Autore(s)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Livros)
        {
            <tr>
                <action-link-button action="IFL.WebApp.TagHelpers.ButtonActionType.Edit" route-id="@item.Id"></action-link-button>
                <action-link-button action="IFL.WebApp.TagHelpers.ButtonActionType.Details" route-id="@item.Id"></action-link-button>
                <action-link-button action="IFL.WebApp.TagHelpers.ButtonActionType.Delete" route-id="@item.Id"></action-link-button>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edicao)
                </td>
                <td>
                    @item.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                </td>
                <td>
                    @string.Join(", ", item.Assuntos.Select(x => x.Descricao))
                </td>
                <td>
                    @string.Join(", ", item.Autores.Select(x => x.Nome))
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginação -->
<pager page="/Admin/General/Assuntos/Index"
       page-number="Model.PageNumber"
       total-pages="Model.TotalPages">
</pager>